{{template "include/base.html" .}}

{{define "body"}}

	<!-- Header start -->
	{{template "include/header.html" .}}
	<!-- Header end -->

	<div class="content">
		<h2>직감 프리미엄 라이브 인터뷰</h2>
		<div class="interViewInfo">
			<p class="img"><img src="/static/images/img-live-01.png" alt="채용을 편하게 면접을 영상으로 직감 프리미엄 라이브 인터뷰"></p>
			<p class="txt01"><img src="/static/images/img-text.png" alt=""></p>
			<div class="txtGuide">
				<dl>
					<dt>직감 라이브 인터뷰가 무엇인가요?</dt>
					<dd>지원자와 기업의 면접관이 각자의 모바일을 통해 비대면으로 실시간 면접을 볼 수 있는 직감의 프리미엄 서비스입니다.</dd>
				</dl>
				<dl>
					<dt>직감 라이브 인터뷰, 무엇이 좋은가요?</dt>
					<dd>지원자와 면접관이 직접 만나지 않고도 언제 어디서나,모바일을 통해 간편히 면접을 볼 수 있습니다.</dd>
					<dd>또한, 직감의 라이브 인터뷰는 채용에 최적화된 화면과 진행 프로세스를 제공하고 있습니다.</dd>
					<dd>앉은 자리에서 빠르게, 그리고 편하게 원하는 인재를 찾아보세요!</dd>
				</dl>
				<dl>
					<dt>직감 라이브 인터뷰, 이용하고 싶어요!</dt>
					<dd>직감을 통해 채용 공고를 등록하시면, 직감으로 지원한 모든 지원자와 라이브 인터뷰를 하실 수 있습니다.</dd>
				</dl>
			</div>
			<p class="txt02"><img src="/static/images/img-live-02.png" alt=""></p>
			<ul class="txtGuide">
				<li><dl>
					<dt>Step.01</dt>
					<dd>공고 등록</dd>
				</dl></li>
				<li><dl>
					<dt>Step.02</dt>
					<dd>지원자 확인</dd>
				</dl></li>
				<li><dl>
					<dt>Step.03</dt>
					<dd>라이브 인터뷰 요청</dd>
				</dl></li>
				<li><dl>
					<dt>Stp.04</dt>
					<dd>라이브 인터뷰 수락</dd>
				</dl></li>
				<li><dl>
					<dt>Step.05</dt>
					<dd>라이브 인터뷰 진행</dd>
				</dl></li>
			</ul>
			<p class="infoBtn"><a href="/recruit/write"><img src="/static/images/img-btn-apply-02.png" alt="라이브 인터뷰로 인재 채용하기"></a></p>
		</div>
	</div>

{{end}} 