<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>직감</title>
    {{/*
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    */}}

    <!-- 공통 css, style 변경하면 v 수치 증가 -->
    <link rel="stylesheet" href="/static/css/style.css?v=0.0.17" />
    <!---->

    <link rel="stylesheet" href="/static/css/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/jquery.datetimepicker.css" />
    <link rel="stylesheet" href="/static/css/jquery.timepicker.min.css" />
    <link rel="stylesheet" href="/static/plugin/jui-grid/jui-ui.classic.css" />
    <link rel="stylesheet" href="/static/plugin/jui-grid/jui-grid.classic.css" />
    <link rel="shortcut icon" href="/static/images/ziggam_favicon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

    <!-- Refresh Icon -->
    <!-- https://www.w3schools.com/icons/tryit.asp?filename=tryicons_fa-refresh -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

    <!-- 기본JS -->
    <!-- <script src="https://kit.fontawesome.com/db6adb475d.js" crossorigin="anonymous"></script> -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"></script>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/jquery-migrate-1.2.1.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/plugin/jui-grid/jui-core.min.js"></script>
    <script src="/static/plugin/jui-grid/jui-ui.js"></script>
    <script src="/static/plugin/jui-grid/jui-grid.min.js"></script>
    <script src="/static/js/customInput.jquery.js"></script>

    <!-- 공통 js, 함수 추가하면 v 수치 증가 -->
    <script src="/static/js/common.js?v=0.0.19"></script>
    <!---->

    <!-- 기본 defines, define v 수치 증가 -->
    <script src="/static/js/defines/common_defines.js?v=1.8"></script>
    <!--<script src="/static/js/defines/common_defines.js?v=<%=DateTime.Now.ToString('yyyyMMddHHmmss')%>"></script>-->
    <!---->

    <!-- validation -->
    <script type="text/javascript" src="/static/js/jquery.validate.js"></script>
    <script type="text/javascript" src="/static/js/additional-methods.js"></script>

    <!-- <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script> 
	<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script> -->

    <script src="/static/js/html2canvas.js"></script>
    <script src="/static/js/jspdf.min.js"></script>

    <script src="/static/js/pdfmake/pdfmake.min.js"></script>
    <!-- pdf를 만등주기 위한 pdfmake js 파일 -->
    <script src="/static/js/pdfmake/vfs_fonts.js"></script>
    <!-- 한글의 깨짐을 해결하기 위한 js 파일 -->

    <!-- timepicker -->
    <script type="text/javascript" src="/static/js/jquery.datetimepicker.full.js"></script>
    <script type="text/javascript" src="/static/js/jquery.timepicker.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Ads: 661333810 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-661333810"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "AW-661333810");
    </script>
  </head>
</html>
