<!DOCTYPE html>
<html lang="ko">
<head>
    {{template "include/head.html" .}}
</head>
    <body>
        <div id="wrap">
      
        <!-- left menu start -->
        {{template "include/left_menu.html" .}}
        <!-- left menu -->

        <!-- body start -->
        {{template "body" .}}
        <!-- body end -->
        

        <!-- loading -->
        <div class="loading" style="display:none">
            <span class="img"><img src="/static/images/loading.gif" alt="로딩중"></span>
            <span class="cover"></span>
        </div>        
        <!-- loading -->
    </body>
</html>