    <!-- footer 영역 -->
    <div class="footer">
        <ul>
            <li><a href="https://www.notion.so/qrate/2020-05-21-2771f60b52484a6fa8c0f9a5394d4f44" target="_blank">이용약관</a></li>
            <li><a href="https://www.notion.so/qrate/2020-05-21-121a2c50e88c48ee969020106c174da8" target="_blank">개인정보처리방침</a></li>
            <li><a href="https://www.notion.so/Quest-to-Create-5ada340831c2436dabf1aeee844fc9de" target="_blank">ABOUT US</a></li>
            <li><a href="mailto:support@ziggam.com">문의하기</a></li>
        </ul>
        <div class="address">
            <copyright>©Qrate Corp. All Rights Reserved.</copyright>
        </div>
    </div>
    <!-- // footer 영역 -->