<style>

</style>
    <div class="ui vertical following fluid accordion text menu" >
        <div class="content active" style="margin-bottom: 10px;">
{{/*            <i class="dropdown icon"></i>*/}}
            <a href="/" style="color: black;">메인 관리</a>
        </div>
{{/*        <div class="content menu">*/}}
{{/*            <a class="item">개인회원</a>*/}}
{{/*            <a class="item">기업회원</a>*/}}
{{/*        </div>*/}}
        <div class="title">
            <i class="dropdown icon"></i>
            콘텐츠 관리
        </div>
        <div class="content menu">
            <a class="item">팝업</a>
            <a class="item">이벤트관</a>
            <a class="item">공지사항/이벤트</a>
            <a class="item">약관</a>
            <a class="item">앱 버전</a>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            개인회원 관리
        </div>
        <div class="content menu">
            * 메뉴 준비중 *
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            기업회원 관리
        </div>
        <div class="content menu">
            * 메뉴 준비중 *
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            채용 관리
        </div>
        <div class="content menu">
            * 메뉴 준비중 *
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            박람회 관리
        </div>
        <div class="content menu">
            <a class="item">박람회</a>
            <a class="item">박람회 사이트</a>
            <a class="item">참여 기업</a>
            <a class="item">참여 지원자</a>
            <a class="item">통계</a>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            결제 관리
        </div>
        <div class="content menu">
            * 메뉴 준비중 *
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            CS 관리
        </div>
        <div class="content menu">
            * 메뉴 준비중 *
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            통계
        </div>
        <div class="content menu">
            * 메뉴 준비중 *
        </div>
    </div>
{{/*    <div class="ui vertical following fluid accordion text menu">*/}}
{{/*        <div class="item">*/}}
{{/*            <a class="title active">*/}}
{{/*                <i class="dropdown icon"></i>*/}}
{{/*                <b>Menu</b>*/}}
{{/*            </a>*/}}
{{/*            <div class="content menu">*/}}
{{/*                <a class="item">sub menu1</a>*/}}
{{/*                <a class="item">sub menu2</a>*/}}
{{/*            </div>*/}}
{{/*        </div>*/}}
{{/*    </div>*/}}
    <div class="pusher">
        <!-- Site content !-->
    </div>
    <script type="text/javascript">
        $('.ui.accordion')
            .accordion()
        ;
    </script>