{{template "include/base.html" .}}

{{define "body"}}

	<!-- Header start -->
	{{template "include/header.html" .}}
	<!-- Header end -->
	<div class="content">
	<form id="regForm" name="regForm" method="post">
		<h2>비밀번호 변경</h2>
		<div class="business">
			<div class="fieldList first">
				<h3>로그인 정보</h3>
				<dl>
					<dt>아이디</dt>
					<dd><input type="text" name="" class="it disabled" disabled value="{{.EntpMemId}}" placeholder="계정의 관리자 이름을 입력해주세요." value="facegenius" id=""></dd>
				</dl>
				<dl>
					<dt>이전 비밀번호</dt>
					<dd><input type="password" name="curr_pwd" id="curr_pwd" class="it" maxlength="16" value="" placeholder="영문과 숫자를 모두 포함해주세요.(6-16자)"></dd>
					<!-- validation 오류인 경우 메세지 추가 -->
					<dd class="validationAlert curr_pwd_message"></dd>
					<!--현재 사용 중인 비밀번호를 다시 한번 확인해주세요.-->
				</dl>
				<dl>
					<dt>비밀번호<span>*</span></dt>
					<dd><input type="password" name="pwd" id="pwd" maxlength="16" class="it" placeholder="영문과 숫자를 모두 포함해주세요.(6-16자)"></dd>
					<dd class="validationAlert pwd_message"></dd>
					<dd><input type="password" name="re_pwd" id="re_pwd" maxlength="16" class="it" placeholder="비밀번호를 다시 한번 입력해주세요."></dd>
					<dd class="validationAlert re_pwd_message"></dd>
				</dl>
			</div>
		</div>
		<div class="btnSet">
			<a href="javascript:history.go(-1);" class="btn">취소</a>
			<a href="javascript:void(0);" class="btn type_blue st02" id="btn_password_change">완료</a>
		</div>
	</form>
	<div class="toastBox upt_complete">
		<p class="message">비밀번호 변경이 완료되었습니다.</p>
		<a href="javascript:void(0);" class="btnClose" onclick="$('.toastBox').fadeOut('fast')">닫기</a>
	</div>		
	</div>

    <script type="text/javascript">
		$(document).ready(function() {
			// Form Validation Check
			$("#regForm").validate(validOption);
		});	
	
		// 등록완료
		$(document).off("click", "#btn_password_change").on("click", "#btn_password_change", function(e) {
	
			if($("#regForm").valid()){
	
				var pp_chrg_sn = "{{.PpChrgSn}}";
				var curr_pwd= $("#curr_pwd").val(); //현재비밀번호
				var pwd= $("#pwd").val(); //비밀번호
	
				/*
				console.log("********** INSERT DATA **********");
				console.log("pp_chrg_sn : "+pp_chrg_sn);
				console.log("curr_pwd : "+curr_pwd);
				console.log("pwd : "+pwd);
				return;
				*/
	
				var formData = new FormData();
				formData.append("pp_chrg_sn", pp_chrg_sn);
				formData.append("curr_pwd", curr_pwd);
				formData.append("pwd", pwd);
	
				//$(".loading").attr("style", "display:''");
	
				$.ajax({
					cache : false,
					url : '/setting/member/pwd/update',
					data : formData,
					type : 'POST',
					enctype: 'multipart/form-data',
					processData: false,
					contentType: false,
					dataType : "json",
					error : function(e) {
						//console.log("error" + JSON.stringify(e));
						console.log("error : "+e);
						$(".loading").attr("style", "display:none");
					},
					success : function(rep) {
						var rtnCd = rep.RtnCd
						var rtnMsg = rep.RtnMsg
						console.log("rtnCd : "+rtnCd);
						if(rtnCd == 1){
							$('body, html').animate({scrollTop:0}, 1);
							$('.toastBox.upt_complete').fadeIn(1000);
							setTimeout(function() {
								$('.toastBox.upt_complete').fadeOut(1000);
							}, 3000);
						} else if (rtnCd == 2) {
							console.log("현재 비밀번호가 일치하지 않습니다.");
							$(".curr_pwd_message").text("현재 비밀번호가 일치하지 않습니다.");
						} else if (rtnCd == 3) {
							console.log("현재 비밀번호와 변경 비밀번호가 같습니다.");
							$(".curr_pwd_message").text("현재 비밀번호와 변경하려는 비밀번호가 같습니다. 다른 비밀번호를 사용해주세요.");
						} else {
							console.log("등록 실패 : "+rtnMsg);
							$(".loading").attr("style", "display:none");
						}
					}
				});
			}
		});    
	
		// 비밀번호 변경 Validation
		var validOption = {
			onkeyup: false
			,onclick: false
			,onfocusout: function(element) {		// 포커스 아웃 시 동작
				if($(element).valid()){				// 체크 통과
					var id = $(element).attr("id");	
					$("."+id+"_message").text("");	// message box clear
				}
			}
			,onfocusin: function(element) {			// 포커스 인 시 동작
				var id = $(element).attr("id");
				//console.log("input id : "+id);
				$("#"+id).removeClass("validationAlert");
				resetInput(id);
			}
			,rules: {
				curr_pwd : {
					required: true, 
					maxlength: 16, 
					minlength: 6
				},
				pwd : {
					required: true, 
					maxlength: 16, 
					minlength: 6
				},
				re_pwd : {required: true, equalTo: "#pwd"},
			}
			,errorPlacement: function(error, element){		
				var id = element.attr("id");
				//console.log("err_id :"+id);
				$("."+id+"_message").text(error.text());
				$("#"+id).addClass("validationAlert");
			}
			,messages: {
				pwd: {
					required: "현재 비밀번호를 입력해주세요."
					,minlength: "현재 비밀번호는 최소 6자 이상입니다."
					,maxlength: "현재 비밀번호는 최대 16자 이하입니다."
				},
				pwd: {
					required: "비밀번호를 입력해주세요."
					,minlength: "비밀번호는 최소 6자 이상입니다."
					,maxlength: "비밀번호는 최대 16자 이하입니다."
				},
				re_pwd: {
					required: "비밀번호를 다시 입력해주세요."
					,equalTo: "비밀번호가 일치하지 않습니다."
				},
			}
			,success: function(element){
				var str = $(element).attr("id");
				var id = str.substring(0,str.length-6);
				$("#"+id).removeClass("validationAlert");
	
			}
		}
	
		// input box reset
		var resetInput = function(id){
			//console.log("id : "+id);
			$("."+id+"_message").text(""); // message box clear
		}		
		</script>
{{end}} 